!!! 5
%html
  %head
    %title= "#{theme} - #{template}"
    %link{ :href => "/themes/#{theme}/theme.css", :media => "screen", :rel => "stylesheet" }
    %link{ :href => "/fonts/fonts.css", :media => "screen", :rel => "stylesheet" }
    %script{ :src => "/themes/#{theme}/theme.js", :type => "text/javascript" }
  %body
    = contents
    #inspector
      - templates.each do |template|
        %a{:href => "/#{template}"}
          = template

:css
  div#inspector {
    position: fixed;
    top: 8px;
    right: 8px;
    height: 32px;
    background: #FFF;
    line-height: 32px;
    z-index: 1000000;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: "Helvetica Neue";
    opacity: 0.25;
    transition: opacity 300ms;
  }
  
  div#inspector:hover {
    opacity: 1;
  }
  
  div#inspector a {
    color: #171717;
    padding: 0px 12px;
    border-left: 1px solid #F5F5F5;
    display: inline-block;
    float: left;
  }
  
  div#inspector a:hover {
    color: #FFFFFF;
    background: #000000;
  }
  
  div#inspector a:first-child {
    border-left: none;
  }
  
  div#__bs_notify__ {
    border-radius: 0 !important;
    right: inherit !important;
    left: 8px !important;
    height: 32px !important;
    top: 8px !important;
    line-height: 32px !important;
    padding: 0px 26px !important;
    color: #171717 !important;
    z-index: 1000000 !important;
    background: #FFF !important;
  }
